---
layout: layouts/base.njk
title: Photos — Chris Watnee
---

<header>
  <a href="/">Chris Watnee</a>
  <h1>Photos</h1>
</header>

<div class="photos">
  <div>Photo</div>
  <div>Photo</div>
  <div>Photo</div>
  <div>Photo</div>
  <div>Photo</div>
  <div>Photo</div>
</div>